.sidebar{
    width: 15%;
    float: left;
    background-color: rgb(25, 24, 24);
    height: 22.9rem;
    /* position: fixed; */
    overflow-y: auto;
}

.sidebar ul{
    padding: 5%;
}

.sidebar ul li{
    list-style: none;
    width: 80%;
    padding: 15px;
    margin-top: 4px;
    background-color: #000;
    color: aliceblue;
}

.sidebar ul li:hover{
    background-color: rgb(52, 50, 50); 
    cursor: pointer;
    color: goldenrod;
    /* text-transform: uppercase; */
}

.sidebar ul li .subtabs{
    display: none;
}

.sidebar ul li:hover .subtabs{
    display: block;
}

.sidebar ul li:hover .subtabs ul{
    background-color: antiquewhite;
    padding: 0.01%;
}

.sidebar ul li:hover .subtabs ul li{
    background-color: transparent;
    padding: 2%;
}

.sidebar ul li:hover .subtabs li a{
    text-decoration: none;
    color: #000;
}

.sidebar ul li:hover .subtabs li:hover, .sidebar ul li .subtabs a:hover{
    background-color: rgb(216, 206, 206);
    width: auto;
}

