* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #000;
  display: block;
  overflow: hidden;
  /* position: fixed; */
}

.header .logo img {
  /* color: black; */
  padding: 15px;
  margin: 15px;
  float: left;
}

.header .menutabs {
  float: right;
  margin-right: 6%;
}

.header .menutabs ul li {
  padding: 15px;
  margin: 15px;
  float: left;
}

.header .menutabs ul li a {
  color: aliceblue;
  text-decoration: none;
}

.header .menutabs ul li a:hover {
  color: goldenrod;
}

.subtub {
  display: none;
}

.header .menutabs ul li:hover .subtub {
  display: block;
}

.header .menutabs ul li:hover .subtub ul {
  position: absolute;
  background-color: #000;
  margin-left: -15px;
  overflow: hidden;
}

.header .menutabs ul li:hover .subtub ul li {
  margin: 5px;
  padding: 5px;
  list-style: none;
  font: none;
  width: 150px;
}

.footer {
  width: 100%;
  background-color: #000;
  display: block;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}

.footer div {
  padding: 15px;
  margin: 15px;
  color: aliceblue;
  text-align: center !important;
  align-items: center !important;
}

.footer div span {
  color: blue;
}

.main {
  width: 100%;
  display: block;
}

.main .workspace {
  width: 75%;
  height: 16rem;
  background-color: rgb(229, 224, 224);
  border-radius: 15px;
  margin: 2%;
  padding: 2%;
  float: left;
}
