* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #000;
  display: block;
  overflow: hidden;
  /* position: fixed; */
}

.header .logo img {
  /* color: black; */
  padding: 10px;
  margin: 5px;
  float: left;
}

.header .menutabs {
  float: right;
  margin-right: 6%;
}

.header .menutabs ul li {
  padding: 10px;
  margin: 5px;
  float: left;
}

.header .menutabs ul li a {
  color: aliceblue;
  text-decoration: none;
}

.header .menutabs ul li a:hover {
  color: goldenrod;
}

.subtub {
  display: none;
}

.header .menutabs ul li:hover .subtub {
  display: block;
}

.header .menutabs ul li:hover .subtub ul {
  position: absolute;
  background-color: #000;
  margin-left: -10px;
  overflow: hidden;
}

.header .menutabs ul li:hover .subtub ul li {
  /* margin: 5px; */
  padding: 5px;
  list-style: none;
  font: none;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: #000;
  display: block;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}

.footer div {
  padding: 10px;
  margin: 5px;
  color: aliceblue;
  text-align: center !important;
  align-items: center !important;
}

.footer div span {
  color: blue;
}

.main {
  width: 100%;
  display: block;
}

.main .workspace {
  width: 84.8%;
  height: calc(100vh - 106px);
  background-color: rgb(229, 224, 224);
  padding: 0.1%;
  float: left;
  overflow-y: auto;
}

.main .workspace .success{
  font-size: 15px;
  color: green;
}