* {
  padding: 0;
  margin: 0;
}

.header {
  width: 100%;
  background-color: #fff;
  display: block;
  overflow: hidden;
  position: fixed;
  top: 0;
}

.header .menu{
  display: none;
}

.header .logo img {
  /* color: black; */
  padding: 10px;
  margin: 5px;
  float: left;
}

.header .menutabs {
  float: right;
  margin-right: 20px;
}

.header .menutabs ul li {
  padding: 10px;
  margin: 5px;
  float: left;
  list-style: none;
}

.header .menutabs ul li:hover{
  background-color: #007ee5;
  cursor: pointer;
  color: #fff;
}

.profiledropdown {
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #fff;
  padding: 10px;
  width: 100px;
  text-align: center;
  display: none;
}

.profiledropdown ul li {
  list-style: none;
}

.profiledropdown ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
  display: block;
}

.profiledropdown ul li a:hover {
  background-color: #007ee5;
  color: #fff;
}

.footer {
  width: 100%;
  background-color: #000;
  display: block;
  overflow: hidden;
  bottom: 0;
  position: fixed;
}

.footer div {
  padding: 10px;
  margin: 5px;
  color: aliceblue;
  text-align: center !important;
  align-items: center !important;
}

.footer div span {
  color: blue;
}

.main {
  width: 100%;
  display: flex;
  margin-top: 57px;
  height: calc(100vh - 57px);
}

.main .workspace {
  width: 83%;
  height: calc(100% - 20px);
  background-color: rgb(229, 224, 224);
  padding: 10px;
  /* float: left; */
  overflow-y: auto;
  /* padding-bottom: 20px; */
}

.main .workspace .success{
  font-size: 15px;
  color: green;
  background-color: rgba(0, 128, 0, 0.274);
  border-radius: 5px;
  padding: 5px;
}

.main .workspace .error{
  color: red;
}

.main .workspace .view{
  width: 100%;
}
.main .workspace table tr td a{
  text-decoration: none;
  padding: 11px 5px;
  border-radius: 10px;
}



.main .workspace table tr td a:first-child{
  margin-right: 10px;
}

.view-added{
  width: 80%;
  overflow-x: auto;
  border: 1px solid #000;
  /* padding: 10px; */
}

.main .workspace table{
  background-color: #fff;
  width: 80%;
  /* margin: 10px; */
}

.main .workspace table, th, td{
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.main .workspace table .second-th{
  background-color: #dddddd;
}

.main .workspace table tr .delet-update{
  display: flex;
  border: none;
  border-bottom: 1px solid #000;
}

/* RESPONSIVENESS CODE */
@media screen and (max-width: 850px) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .header .menu{
    display: block;
    cursor: pointer;
  }

  .header .logo img {
    padding: 0;
    margin: 0;
    /* float: left; */
  }

  .header .menutabs ul li {
    padding: 5px;
    margin-right: 10px;
    cursor: pointer;
  }

  .main .workspace {
    width: 100%;
  }
}

@media screen and (max-width:600px) {
  .header{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
  }

  .header .logo img {
    margin-right: 20px;
    float: right;
  }

  .header .menutabs{
    display: none;
  }

  .main .workspace{
    height: 100%;
    padding: 0;
    /* overflow: hidden; */
  }

  .main .workspace h1{
    font-size: 30px;
  }
}