.chat {
  background-color: #fff;
  display: flex;
  height: 100%;
  overflow: hidden;
}

.chat .contacts {
  width: 40%;
  background-color: #007ee5;
}

.chat .contacts .profile {
  display: flex;
  /* border-bottom: 1px solid #000; */
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  background-color: #0061b1;
}

.chat .contacts .profile .img {
  height: fit-content;
  width: fit-content;
}

.chat .contacts .profile .img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat .contacts .profile .name {
  color: #fff;
}

.chat .contacts .form {
  width: 100%;
  background-color: #0061b1;
  border-bottom: 1px solid #888888;
}

.chat .contacts form {
  /* width: 100%; */
  /* padding-top: 0px; */
  display: flex;
  justify-content: center;
  padding: 5px;
}

.chat .contacts form input {
  padding: 5px;
  margin: 5px;
}

.chat .contacts .user-contact {
  overflow-y: auto;
  height: calc(100vh - 201px);
}

.chat .contacts .user-contact::-webkit-scrollbar{
  width: 10px;
}

.chat .contacts .user-contact .contact {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #888;
  cursor: pointer;
}

.chat .contacts .user-contact .contact:hover {
  background-color: #0061b1;
}

.chat .contacts .user-contact .contact .img-name-message {
  display: flex;
  align-items: center;
}

.chat .contacts .user-contact .contact img {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}

.chat .contacts .user-contact .contact .name-message {
  padding-left: 10px;
  color: #fff;
  overflow: hidden;
  /* max-width: 20%; */
}

.chat .contacts .user-contact .contact .name-message .last-message{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat .contacts .user-contact .contact .time {
  color: #ddd;
}

.chat .contact-messages {
  width: 60%;
  position: relative;
  background-color: rgb(178, 178, 255);
}

.chat .contact-messages .message-bar{
    background-color: #007ee5;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat .contact-messages .message-bar .contact-profile{
    display: flex;
    align-items: center;
}

.chat .contact-messages .message-bar .contact-profile .img img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat .contact-messages .message-bar .contact-profile .name{
  color: #fff;
}

.chat .contact-messages .message-bar .icons img{
  cursor: pointer;
}

.chat .contact-messages .message-bar .icons img:first-child{
  margin-right: 10px;
}

.chat .contact-messages .messages{
  overflow-y: auto;
  height: calc(100vh - 220px);
}

.chat .contact-messages .messages div p{
  padding: 10px;
  margin: 10px;
  max-width: calc(100% - 150px);
  color: #fff;
}

.chat .contact-messages .messages .outgoing p{
  background-color: #3288ce;
  border-radius: 10px 10px 10px 0;
}

.chat .contact-messages .messages .incoming{
  display: flex;
  /* padding-right: 50px; */
}

.chat .contact-messages .messages .incoming p{
  background-color: rgb(0, 0, 192);
  border-radius: 10px 10px 0 10px;
  /* margin-right: 0; */
  /* float: right; */
  margin-left: auto;
}

.chat .contact-messages form{
  bottom: 0;
  position: absolute;
  display: flex;
  width: 100%;
  background-color: #0061b1;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  
}

.chat .contact-messages form input{
  width: 100%;
  margin: 0;
  margin-right: 10px;
}

.chat .contact-messages form button{
  margin-right: 20px;
  background-color: #008cff;
  border-radius: 50%;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.chat .contact-messages form button:hover{
  background-color: #007ee5;
}

.chat .contact-messages .nomessage{
  text-align: center;
  color: #888;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 10px;
}

/* RESPONSIVENESS CODE */
@media screen and (max-width: 850px){
  .hide{
    display: none;
  }

  .chat .size{
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .chat .contacts {
    width: 100%;
  }
  .chat .contact-messages {
    display: none;
  }
}

