body {
  background-color: rgb(223, 223, 223);
}

.main fieldset {
  width: 400px;
  border-radius: 10px;
  border: 1px solid #007ee5;
  margin-top: 10%;
  background-color: #fff;
}

.main fieldset legend {
  background-color: #007ee5;
  color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.main fieldset form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main fieldset form input {
  margin: 10px;
  border-radius: 10px;
  background-color: #bae0ff;
  border: none;
  padding: 10px;
  width: 90%;
  border-bottom: 2px solid #000;
  outline: none;
}

.main fieldset form input:focus {
  border-bottom: 2px solid #007ee5;
}

.main fieldset form .btn {
  display: flex;
}

.main fieldset form .btn input[type="submit"] {
  background-color: #007ee5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.main fieldset form .btn input[type="reset"] {
  background-color: orange;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: large;
}

.main .error {
  color: red;
}

/* RESPONSIVENESS CSS CODE */
@media screen and (max-width: 500px) {
  .main fieldset {
    width: 90%;
  }
}
